/*Elena Lensink*/
* {
  box-sizing: border-box;
}

nav {
    color: White;
    background-color: LightSkyBlue;
}

.jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: MintCream;
 }

 .container {
    padding-top: 20px;
    padding-bottom: 20px;
 }

html, body {
background-color: #AFEEEE;
color: White;

}


#login-page {
    padding-top: 20px;
    padding-bottom: 20px;
}

#username-show{
    text-align:center;
    font-family:Georgia, serif;
}

.feedback{
    font-style: italic;
    color: red;
}